$menuitemheight: 62px;

$searchicon: url('search-icon-30.png');

.menuarea {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;	  
}

.menuhoriz {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    background-color: #f0ead2;

    -webkit-transition: -webkit-transform 0.35s ease-out;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -ms-transition: -ms-transform 0.35s ease-out;
    -moz-transition: -moz-transform 0.35s ease-out;
    -moz-transform: translate3d(0,0,0);
    -o-transition: -moz-transform 0.35s ease-out;
    -o-transform: translate3d(0,0,0);
    transition: transform 0.35s ease-out;
    transform: translate3d(0,0,0);
}

.harea {
    position: absolute;
    width: 100%;
    left: 0px;
}

.hbar {
    height: $menuitemheight - 1;
    border-bottom: 1px solid rgb(200,200,200);
    background-color: gray;
    background-repeat: repeat-x;
}

#textarea:focus, input, input:focus, img, img:focus, div, div:focus, button, button:focus {
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}

.menupanel {
    position: absolute;
    width: 25%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.menutouch {
    top: $menuitemheight;
    bottom: 0px;
    background-color: rgb(200,200,200);
}

.menuscroll {
//    overflow: visible;
}


.menutitle {
    position: absolute;
    top: 0px;
    border-bottom: 1px solid black;
}

.menuitemicon {
    position: absolute;
    left: 0px;
    width: 47px;
    height: 100%;
}

.menuitemtext {
    position: absolute;
    left: 47px;
    right: 47px;
    height: 100%;
    text-align: left;
}

img.menuimg {
    width: 100%;
}

.menuitemtextarea {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 27px;
    margin-right: 27px;
    height: 100%;
    text-align: left;
}

.menuitemtext1 {
    position: absolute;
    left: 47px;
    right: 50%;;
    height: 100%;
    text-align: left;
    z-index: 4;
}

.menuitemtext2 {
    position: absolute;
    left: 50%;
    right: 47px;
    height: 100%;
    text-align: right !important;
}

.plainbg {
    background-color: #303030;
    background-image: none;
}

.flexheight {
    height: auto;
}

.menuitemiconimg {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 6px;
    top: 13px;
    //background-image: url('tajmall-30.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.menuitemarrow {
    position: absolute;
    width: 47px;
    right: 0px;
    height: 100%;
}

.leftarrow {
    left: 0px;
    right: '';
}

.downarrow {
    left: 0px;
    right: '';
}

.menuitembuttondiv {
    position: absolute;
    width: 64px;
    right: 0px;
    height: 100%;
}

.menuitembutton {
    position: absolute;
    top: 6px;
    bottom: 7px;
    width: 64px;
    border-radius: 6px;
}

.menuitemarrowimg {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 8px;
    top: 15px;
    background-image: url('arrow-right-black-30.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.leftarrowimg {
    background-image: url('arrow-left-black-30.png');
}

.downarrowimg {
    background-image: url('arrow-down-black-30.png');
    z-index: 5;
}

.menusubtitle .menuitemtext {
    left: 15px;
}

.menupage {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.menuitemsubtitle {
    text-align: center;
    font-size: 18px;
//    border-bottom: 1px solid black;
}

#searchtitle {
    font-size: 20px;
}

#searcharea {
    position: absolute;
    top: 0px;
    z-index: 2;
}

.searchinputdiv {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.searchicon {
    position: absolute;
    top: 15px;
    left: 13px;
    width: 30px;
    height: 30px;
    background-image: url('search-icon-30.png');
}

.searchicon-ie {
    top: 3px;
}

.searchbutton {
    position: absolute;
    right: 0px;
    height: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border: none;
    width: 64px;
}

.browsearrow {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 17px;
    top: 15px;
    background-image: url('browsebuttonimg-black.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}

input {
    font-size: 18px;
    font-family: 'Verdana', 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, 'BBAlpha Sans', sans-serif;
    color: black;
}

#searchinput {
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    padding-left: 30px;
    font-size: 18px;
    background-color: none;
    -webkit-appearance: none;
    border-radius: 25px;
}

#searchicon {
    position: absolute;
    top: 15px;
    left: 13px;
    width: 30px;
    height: 30px;
    background-image: $searchicon;
}

.searchform {
    position: absolute;
    left: 0px;
    height: 100%;
    right: 64px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.rel {
    position: relative;
}

.menudivider {
    height: 25px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#006cae), to(#008cce));
    background-image: -moz-linear-gradient(top, #008cce, #006cae);
    background-color: #008cce;
    color: white;
}

.menudivider th {
    color: white;
    font-weight: bold;
}

.leftalign {
    text-align: left !important;
}

.footerlabel {
    vertical-align: bottom !important;
    font-size: 10px;
}

.menugriditem {
    float: left;
    width: 124px;
    height: 124px;
    margin: 12px 0px 12px 24px;
    border-radius: 22px;
    background-color: white;
    //background-image: -webkit-gradient(linear, left bottom, left top, from(#3a4554), to(#536884));
    left: 0px;
    top: 0px;
    border: none;
    position: relative;
    //overflow: hidden;
}

.menugriditem-center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.menugriditem-label-center th {
    font-family: 'Mate SC', 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, 'BBAlpha Sans', sans-serif;
}

.menugriditem-icon {
    position: absolute;
    width: 124px;
    height: 124px;
    border-radius: 20px;
    //background-image: -webkit-gradient(linear, left bottom, left top, from(#3a4554), to(#536884));
    left: 0px;
    top: 0px;
    border: none;
    z-index: 2;
}

.menugriditem-label {
    //position: absolute;
    //bottom: 0px;
    //width: 100%;
    //height: 35px;
    //overflow: hidden; 
    position: absolute;
    left: 0px; right: 0px;
    top: 0px; bottom: 0px;
    vertical-align: bottom;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 3;
    color: black;
}

.menugriditem-label-center {
    vertical-align: middle;
}

th.menugriditem-label-bottom {
    vertical-align: bottom;
}


